@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-thin-straight/css/uicons-thin-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family:"Montserrat", sans-serif;
    background-color: #020202;
    padding: 40px 30px;
    color: beige;
}

li, a {
    text-decoration: none;
    color: beige;
}

ul{
    list-style: none;
}

.header-up {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.avatar {
    width: 150px;
    height: 150px;
    border-radius: 200px;
    background-color: #04471b8a;
}

.social-links, .footer-links {
    display: flex;
    gap: 10px;
    list-style: none;
    align-items: center;
}

#email-link {
    text-decoration: none;
    padding: 10px;
    border-radius: 20px;
    background-color: #04471c;
}

#cv, #github, #linkedin {
    padding: 3px 10px;
    border-radius: 15px;
    color: #71d083;
    border: 1px solid #71d083;
}

i {
    color: #71d083;
    width: 20px;
}

#email-icon {
    color: beige;
}

.header-down {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 900px;
    gap: 15px;
    padding: 30px 0;
    border-bottom:  0.25px solid #058c42;
}

main, footer {
    text-align: left;
    width: 900px;
}

section {
    padding: 25px 0;
}

.section-tecnologys, .section-formation{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
}

.tecnology-list {
    display: flex;
    gap: 20px;
}

.tecnology-icon {
    padding: 10px;
    border-radius: 15px;
    color: #71d083;
    background-color: #04471c;
}

.experience-container, .project-container, .formation-container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 20px 0;
}

.experience-left, .project-left, .formation-left {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 600px;
}

.experience-icon, .experience-date, .project-icon, .formation-icon, .formation-date {
    background-color: #04471c;
    border-radius: 75px;
    padding: 10px;
    color: #71d083;
}

.experience-date, .formation-date {
    font-size: small;
}

.experience-text, .project-text, .formation-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-img{
    width: 100px;
    border-radius: 10px;

}

#project-stack-icon {
    padding: 5px;
    border-radius: 15px;
    color: grey;
    background-color: #141414;
    font-size: small;
}

.formation-rigth {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formation-check {
    background-color: #71d083;
    padding: 3px 10px;
    border-radius: 15px;
}

.formation-check > i {
    color: beige;
}

.section-formation{
    border-bottom:  0.25px solid #058c42;
}

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 20px;
    margin-top: 20px;
}

.footer-links {
    max-width: 500px;
}


